#landingPageContent
{
    display: grid;
    grid-template-columns: 24vw 1fr 24vw;
    padding: 1.5rem;
}

#profileInfo img 
{
    margin: 20px;
    border-radius: 100%;
    opacity: 80%;
    filter: grayscale(100%); 
}

#profileInfo table th
{
    padding-right: 2rem;
    text-align: left;
    font-weight: bolder;
}


#clock
{
    width:max-content;
    text-align: center;
    font-family: kode-mono, monospace;
    vertical-align: middle;
    gap: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#clock .time
{
    line-height: 2ex;
    font-size: 3.5rem;
    font-weight: bolder;
}
#clock .date
{
    line-height: 2ex;
    font-size: 1.5rem;
    font-weight: bold;
}

.topBar {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.mediaLink
{
    display: flex;
    flex-direction: row;
    max-height: 2em;
    padding: 0;
    gap: 10px;
    color: #aacfd1;
    text-decoration: none;
}

.progressBar
{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 1rem;
    gap: 0.5rem;
}

.progressSectionFull {
    background-color: var(--themeBlue);
    width: 100%;
}

.progressSection {
    border: 1px solid var(--themeBlue);
    width: 100%;
}

